@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
	outline: solid red 1px !important;
} */

body,
html {
	background-color: #181818;
	@apply scroll-smooth;
}

@layer base {
	html {
		font-family: Montserrat;
	}
}

.btn-hero {
	@apply px-4 py-2 bg-[#181818] border-2 border-purple-700 text-lg rounded-lg font-medium text-white shadow hover:shadow-purple-800 transition-all duration-150;
}

.btn-offer {
	@apply px-8 py-4 bg-[#181818] border-2 border-purple-700 text-lg rounded-lg font-medium text-white shadow hover:shadow-purple-800 transition-all duration-150;
}

.btn-about {
	@apply text-white hover:underline text-xl py-2 px-4 rounded-lg;
}

.current {
	@apply text-purple-700 bg-purple-900 bg-opacity-25;
	text-decoration: none !important;
}

.card {
	@apply p-4 w-full shadow-sm rounded-lg bg-[#171717] bg-opacity-50;
}

.card-contact {
	@apply p-6 w-full shadow-sm rounded-lg bg-[#171717] bg-opacity-50;
}

.slider::-webkit-slider-thumb {
	width: 20px;
	border-radius: 25px;
	height: 20px;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 25px;
	cursor: pointer;
}

.slider::-moz-range-progress {
	background-color: blueviolet;
	border: 2px solid blueviolet;
	border-color: blueviolet;
	border-radius: 25px;
}

.background {
	@apply bg-opacity-25;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1900' height='1000' preserveAspectRatio='none' viewBox='0 0 1900 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1074%26quot%3b)' fill='none'%3e%3crect width='1900' height='1000' x='0' y='0' fill='rgba(24%2c 24%2c 24%2c 1)'%3e%3c/rect%3e%3cpath d='M191.52 754.44L291.98 812.44L291.98 928.44L191.52 986.44L91.06 928.44L91.06 812.44zM1397.06 406.44L1497.53 464.44L1497.53 580.44L1397.06 638.44L1296.6 580.44L1296.6 464.44zM1497.53 -115.56L1597.99 -57.56L1597.99 58.44L1497.53 116.44L1397.06 58.44L1397.06 -57.56zM1698.45 -115.56L1798.91 -57.56L1798.91 58.44L1698.45 116.44L1597.99 58.44L1597.99 -57.56zM1798.91 754.44L1899.37 812.44L1899.37 928.44L1798.91 986.44L1698.45 928.44L1698.45 812.44zM1899.37 -115.56L1999.83 -57.56L1999.83 58.44L1899.37 116.44L1798.91 58.44L1798.91 -57.56zM1899.37 928.44L1999.83 986.44L1999.83 1102.44L1899.37 1160.44L1798.91 1102.44L1798.91 986.44z' stroke='rgba(126%2c 34%2c 206%2c 0.9)' stroke-width='2'%3e%3c/path%3e%3cpath d='M179.92 754.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM280.38 812.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM280.38 928.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM179.92 986.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM79.46 928.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM79.46 812.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1385.46 406.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1485.93 464.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1485.93 580.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1385.46 638.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1285 580.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1285 464.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1485.93 -115.56 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1586.39 -57.56 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1586.39 58.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1485.93 116.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1385.46 58.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1385.46 -57.56 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1686.85 -115.56 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1787.31 -57.56 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1787.31 58.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1686.85 116.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1787.31 754.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1887.77 812.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1887.77 928.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1787.31 986.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1686.85 928.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1686.85 812.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1887.77 -115.56 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1988.23 -57.56 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1988.23 58.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1887.77 116.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1988.23 986.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1988.23 1102.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1887.77 1160.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0zM1787.31 1102.44 a11.6 11.6 0 1 0 23.2 0 a11.6 11.6 0 1 0 -23.2 0z' fill='rgba(126%2c 34%2c 206%2c 0.9)'%3e%3c/path%3e%3cpath d='M42.07 -0.72L130.41 50.28L130.41 152.28L42.07 203.28L-46.27 152.28L-46.27 50.28zM42.07 917.28L130.41 968.28L130.41 1070.28L42.07 1121.28L-46.27 1070.28L-46.27 968.28zM395.42 917.28L483.76 968.28L483.76 1070.28L395.42 1121.28L307.08 1070.28L307.08 968.28zM572.09 -0.72L660.43 50.28L660.43 152.28L572.09 203.28L483.76 152.28L483.76 50.28zM572.09 611.28L660.43 662.28L660.43 764.28L572.09 815.28L483.76 764.28L483.76 662.28zM660.43 764.28L748.77 815.28L748.77 917.28L660.43 968.28L572.09 917.28L572.09 815.28zM660.43 1070.28L748.77 1121.28L748.77 1223.28L660.43 1274.28L572.09 1223.28L572.09 1121.28zM748.77 305.28L837.1 356.28L837.1 458.28L748.77 509.28L660.43 458.28L660.43 356.28zM748.77 611.28L837.1 662.28L837.1 764.28L748.77 815.28L660.43 764.28L660.43 662.28zM748.77 917.28L837.1 968.28L837.1 1070.28L748.77 1121.28L660.43 1070.28L660.43 968.28zM1013.78 152.28L1102.12 203.28L1102.12 305.28L1013.78 356.28L925.44 305.28L925.44 203.28zM1013.78 1070.28L1102.12 1121.28L1102.12 1223.28L1013.78 1274.28L925.44 1223.28L925.44 1121.28zM1102.12 -0.72L1190.45 50.28L1190.45 152.28L1102.12 203.28L1013.78 152.28L1013.78 50.28zM1190.45 152.28L1278.79 203.28L1278.79 305.28L1190.45 356.28L1102.12 305.28L1102.12 203.28zM1102.12 917.28L1190.45 968.28L1190.45 1070.28L1102.12 1121.28L1013.78 1070.28L1013.78 968.28zM1190.45 1070.28L1278.79 1121.28L1278.79 1223.28L1190.45 1274.28L1102.12 1223.28L1102.12 1121.28zM1278.79 -0.72L1367.13 50.28L1367.13 152.28L1278.79 203.28L1190.45 152.28L1190.45 50.28zM1278.79 305.28L1367.13 356.28L1367.13 458.28L1278.79 509.28L1190.45 458.28L1190.45 356.28zM1455.46 -0.72L1543.8 50.28L1543.8 152.28L1455.46 203.28L1367.13 152.28L1367.13 50.28zM1632.14 305.28L1720.47 356.28L1720.47 458.28L1632.14 509.28L1543.8 458.28L1543.8 356.28zM1720.47 458.28L1808.81 509.28L1808.81 611.28L1720.47 662.28L1632.14 611.28L1632.14 509.28zM1720.47 1070.28L1808.81 1121.28L1808.81 1223.28L1720.47 1274.28L1632.14 1223.28L1632.14 1121.28zM1808.81 -0.72L1897.15 50.28L1897.15 152.28L1808.81 203.28L1720.47 152.28L1720.47 50.28zM1897.15 458.28L1985.49 509.28L1985.49 611.28L1897.15 662.28L1808.81 611.28L1808.81 509.28zM1808.81 611.28L1897.15 662.28L1897.15 764.28L1808.81 815.28L1720.47 764.28L1720.47 662.28zM1897.15 1070.28L1985.49 1121.28L1985.49 1223.28L1897.15 1274.28L1808.81 1223.28L1808.81 1121.28z' stroke='rgba(126%2c 34%2c 206%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1074'%3e%3crect width='1900' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
